<p><%= link_to 'このエリアの課題をすべてみる', search_path(area_id: @area.id) %></p>
<% @area.rocks.joins(:problems).select('problems.id as id, problems.name as name').each do |problem| %>
    <p><%= link_to problem.name, search_path(problem_ids: [problem.id]) %></p>
<% end %>