<!--テキストフィールドの初期値として、既に検索クエリがあればそれを、なければデフォルト値を用意する。-->
<% q = params.fetch(:q, '') %>
<% q = '岩場名・課題名で検索' if q=='' %>
<p class='free_word_search'>
    <%= text_field_tag :q, nil, placeholder: q, class: 'free_word_search_form' %>
    <%= button_tag sanitize('<i class="fas fa-search"></i>'), type: "submit", class: 'free_word_search_button' %>
</p>