// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form{
  display:inline;
}

table{
    margin-left:60px;
}

tr{
  height:40px;
}

td{
  width:120px;
}

.mybtn{
  width:120px;
}

.create_btn{
  background-color:pink;
  
}

.region{
    margin-left:20px;
    margin-top:10px;
    margin-bottom:10px;
}

.area{
    margin-left:60px;
    margin-top:10px;
    margin-bottom:10px;
}

.rock{
    margin-left:60px;
}

.problem{
    margin-left:60px;
}



.container input {
  display: none;
}

.container .btm {
  height: 0;
  overflow: hidden;
}

.container input:checked + .btm {    //隣接兄弟セレクタ
  height: auto;
}