/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*http://www.hp-stylelink.com/news/2013/07/20130708.php#lowList23*/
/*23.都会的でスタイリッシュなイメージを使用する*/

header img {
  width: 94%;
  margin:10px 3% 10px;
  text-align:center;
}

.search-form{
  width:94%;
  margin:0 auto 0;
}

.free_word_search_form{
  -webkit-appearance: none;
  width:70%;
  height:26px;
  margin:0 auto 0;
  display:inline-block;
  border-radius: 6px;
  outline:none;
  border-style: ridge;
  /*border-color:gray;*/
}

.free_word_search_button{
  -webkit-appearance: none;
  width:28%;
  height:26px;
  border-radius: 6px;
  background-color: #499475;
  color: white;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-style: none;
}

#grade_lower, #grade_upper{
  border-radius: 6px;
  outline:none;
}

body {
  font-family:Verdana, sans-serif;
  font-size: 16px;
  margin: 0;
}

footer{
  text-align: right;
  margin-right:20px;
}

/*bootstrapのページネーションを画面の中央に*/
.pagination {
  justify-content: center;
}

/* パソコン用設定 */
/* 見やすいように暫定的に設定しておきます */
@media screen and (min-width:680px) {
  header img {
    width: 520px;
    margin-top:6px;
    margin-left:12px;
  }
  
  .free_word_search{
    width:60%;
    margin:30px auto 10px;
  }

  .free_word_search_form{
    height:36px;
  }
  
  .free_word_search_button{
    height:36px;
  }
}