// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul{
    padding:0 0 0;
}

.posts {
    width: 90%;
    margin: 0 auto 0;
    padding:0 0 0;
}

.video{
    position:relative;
    width:100%;
    height:0;
    padding-top:56.25%;
}
.video iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.paginator {
  text-align: center;
}

.radio_label{
    margin: 5px;
}

/* パソコン用設定 */
/* 見やすいように暫定的に設定しておきます */
@media screen and (min-width:641px) {
    .posts {
        width: 30%;
        margin: 0 auto 0;
        padding:0 0 0;
    }
}